/* Общие классы */
.panel {
    padding: 20px;
    color: #c2c2c2;

    text-align: center;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    background: #9a9aa591;
}

.button {
    margin: 10px;
    border-radius: 15px;
    background: #101013dc;
    border: none;
    color: #c2c2c2;
    padding: 15px 30px;

    font-size: min(20px, 10vw);

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #e3ed04 inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -4px 0 #e3ed04 inset;
    cursor: pointer;
}

.horizontal-container
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 45%;
    gap: 10%;
    
    margin-bottom: 10px;
    padding: 0 40px;
}
/* ------------------------*/

body{
    margin: 0px;
    font-family: sans-serif;
}
#page {
    background: #d3dce1;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
