/* Общие классы */
.panel {
    padding: 20px;
    color: #c2c2c2;

    text-align: center;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    background: #97979e91;
}

.button {
    margin: 10px;
    border-radius: 15px;
    background: #dfdfe6dc;
    border: none;
    color: #333333;
    padding: 15px 30px;

    font-size: min(20px, 10vw);

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #1b1b1b inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -4px 0 #1b1b1b inset;
    cursor: pointer;
}

.horizontal-container
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 45%;
    gap: 10%;
    
    margin-bottom: 10px;
    padding: 0 40px;
}


/* ------------------------*/

body{
    margin: 0px;
    font-family: sans-serif;
    background: #d3dce1;
    width: 80vw;
    height: 100vh;
    padding: 0 10vw;
}

#page {

}

#header-panel{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.h-wrapper{
    font-size: smaller;
}

.back-button-wrapper,
.right-part{
    flex: 1;
}