.panel {
    padding: 20px;
    width: 400px;
}

#header-panel{
    height: 64px;
    padding: 16px;
}

/* ------------------------*/
#levels-grid{
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-template-rows : repeat(6, 100px);
    gap: 2px;
}

/* ------------------------*/

#timer-wrapper{
    height: 100px;
}

.progress-wrapper{
    height: 4px;
}

.progress-bar{
    height: 4px;
}

/* ------------------------*/

#expression-wrapper{
    height: 200px;
    font-size: 3rem;
}

#keyboard{
    grid-template-rows : repeat(4, 100px);
}

.keyboard-buttons{
    font-size: 32px;
}

/* ------------------------*/